<script src="https://giscus.app/client.js"
        data-repo="Ainslay/draal-wiki"
        data-repo-id="R_kgDORgSdQQ"
        data-category="General"
        data-category-id="DIC_kwDORgSdQc4C4Qp5"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="pl"
        crossorigin="anonymous"
        async>
</script>